body{
    width: 65%;
    margin: 0 auto;
}

hr{
    border: solid 2px;
    
}
.header-nav{
    display:flex;
    flex-wrap: wrap;
}

.top-footer-nav{
    justify-content: flex-end;
}

.main-footer-nav{
    justify-content: center;
    align-content: flex-end;
    
}

.row{
    background-color: black;
}


#dinosaur{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 20%;
}

.footer-nav{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}