body{
    max-width: 60%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1{
    font-size: 44px;
}

h2{
    font-size: 33.6px;
    color: black;
    margin:3.2px 0px 8px;
    padding: 0px 0px 10.08px;
}

h3{
    color: black;
    font-size: 28.8px;
}

ul{
    list-style-type: none;
}

button:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    cursor: pointer;
}

img{
    display: inline-block;
}

header{
    display: flex;
}

.header-links{
    width: 100%;
    flex-direction: row;
    padding:10px;
}



.top-links{
    color:black;
    font-size: 16px;
    justify-content: flex-end;
    align-items: flex-end;
}

.bottom-links{
    color: black;
    font-size: 18.4;
    justify-content: flex-end;
    align-items: flex-end;
}

.explore-museum{
    background-image: url(Images/exploremuseum.jpg);
    background-repeat: no-repeat;
    min-height: 563.61px;
    min-width: 1295px;
    background-size: 1295px 563.61px;
    padding:10px;
    display: flex;
    margin-bottom: 20px;
}

.main-title{
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.479);
    padding-right: 5%;
    padding-bottom: 1%;
    padding-left: 5%;
    margin: 5px;
    height: auto;
}

.main-p{
    width: 70%;
    
}

.museum-map{
    font-size: 19.2px;
}

.museum-button{
    color:#333333;
    background-color: white;
    font-size: 19.2px;
    padding:10px 40px 10px 20px;
    border: white solid 2px;
}

.museum-button:hover{
    color: white;
    background-color: transparent;
    transition: 0.3s;
}

.explore-list{
    display: flex;
    width: auto;
}

.list-item{
    flex-wrap: wrap;
    background-color: #f4f4f4;
    width: auto;
    justify-content: space-evenly;
    font-size: 19.2px;
    padding:10px 20px;
    border: none;
    color: #333333;
    margin-right: 16px;
}

.list-item:hover{
    color:white;
    background-color: #333333;
    transition: 0.3s;
}

.grid-container{
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr; 
    column-gap: 30px;
    row-gap: 50px;
}

.grid-button{
    background-color: #333333;
    color: white;
    font-size: 19.2px;
    padding: 10px 20px 10px 20px;
}

.grid-button:hover{
    background-color: white;
    color: #333333;
    transition: 0.3s;
}

.grid-item1{
    grid-row: 1;
}

.grid-item2{
    grid-row:2;
}

.grid-item3{
    grid-row: 3;
}

.grid-picture{
    grid-row: 3;
   grid-column: span 2;
}

.clock-link{
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

.grid-p{
    color: #333333;
}

.galleries{
    border: 2px solid #333333;
    width: 1082px;
    height: 38.75px;
    padding: 16px;
    display: flex;
    align-items: center;
}

.gallery-links{
    color: #333333;
}

.galleries:hover{
    background-color: rgba(214, 214, 214, 0.445);
    text-decoration: underline;
}



.cafe{
    display: flex;
    margin: 15px;
}

.cafe-text{
    justify-content: flex-start;
}

.cafe-image{
    justify-content: flex-end;
}

.email{
    background-color: #333333;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.contact-form{
    display:flex
    
}

.form-details{
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    width:25%
}

.form-input{
    width:234px;
    height:21px;
    border:2px solid white
}

.signup-button{
    color: white;
    background-color: #333333;
    border: 2px solid white;
    font-size: 16px;
    padding-top: 7px;
    padding-right: 4rem;
    padding-left: 4rem;
    margin: 15px;
}


.logo-size{
    width: 3%;
    margin: 5px;
    margin-bottom: 0px;
}
















footer{
    background-color: #333333;
   color: white;   
}

.nav-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
}

.grid-row1{
    grid-row:1
}

.grid-row2{
    grid-row: 2;
}

.grid-row3{
    grid-row: 3;
}